{% extends 'layout/default.html' %}
{% load django_bootstrap5 %}

{% block title %}Добавить комментарий{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form action="{% url 'comment_create' id %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}