{% extends 'layout/default.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div><i>Статья</i></div>
      <div><i>Время размещения: {{ article.timestamp }}</i></div>
    </div>
  </div>
  <div class="card-body">
    <h1 class="card-title">{{ article.name }}</h1>
    <p class="card-text">{{ article.body }}</p>
    <a href="{% url 'articles_update' article.id %}" class="btn btn-warning" role="button">Отредактировать статью</a>
    <a href="{% url 'comment_create' article.id %}" class="btn btn-success" role="button">Оставить комментарий</a>
  </div>
</div>

{% endblock %}